@media only screen and (max-width: 1180px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .container, .card-field {
        max-width: 860px;
    }
}

@media only screen and (max-width: 900px) {
    .container, .card-field {
        max-width: 580px;
    }
}

@media only screen and (max-width: 620px) {
    .container, .card-field {
        max-width: 400px;
    }

    .product-img {
        width: 320px;
        height: 260px;
    }
}


@media only screen and (max-width: 400px) {
    .product-img {
        width: 360px;
        max-height: 170px;
    }
}